.quote_div{
    background-color:#c9d2e0;
    height:40%;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    padding-left:3%;
    padding-right:3%;
    opacity: 0.9;
}
.header-basic {
    background-color: #292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    font: normal 30px  Arial, Helvetica, sans-serif;
    height: 80px;
    color:white;
    box-sizing: border-box;
}

.header-basic .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.main-title{
    font-family:"La Belle Aurore";
    color:#ffffff;
}
.bodyImg{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
}
.content{

    margin-top:7%;
    margin-left:15%;
    margin-right:15%;
    padding-top:10%;
    padding-left:23%;
    padding-right:13%
}
#quote-title{
    color:#ffffff;
    font-family:"Allura";
}
